
@{
    ViewBag.Title = "首页";
}


<a id="home-nav">&nbsp;</a>
<div class="row">
    <div class="twelve columns" id="main-container">
        <section class="row" id="home">
            <div class="five columns home-left">
                <div id="home-photo"></div>
            </div>
            <div class="seven columns home-right">
                <div id="home-text">
                    <div id="home-social-container">
                        <ul id="home-social">
                            <li>
                                <a target="_blank" href="https://cn.linkedin.com/in/kong-rocher-74a24183"><i class="icon-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <h3 class="bold">孔翔 Rocher</h3>
                    <h4>Software Engineer</h4>
                    <hr class="highlight-hr" />
                    <h5 class="text-left"></h5>
                    <i class="icon-envelope">&nbsp;</i>&nbsp;
                    rocher@126.com
                </div>
            </div>
        </section>
        <a id="profile-nav">&nbsp;</a>
        <section class="row page" id="profile" data-magellan-destination='profile'>
            <div class="twelve columns">
                <div class="button right">
                    <a target="_blank" href="#">
                        <span class="left">Read Blog</span>
                    </a>
                </div>
                <h5 class="page-heading">PROFILE</h5>

                <hr />
            </div>
            <div class="twelve columns">
                <div class="seven columns">
                    <h5> <b>One Computer,Two Hands,Whole World. </b></h5>
                    <hr />
                    <p>Born and raised in Jiangsu Province, Rocher At age 10 his discovery of contacting Internet in 2000  in School interest group began a lifelong obsession with programming. By age 19 he was studying C++ at SanJiang University and has since familiarized himself in nearly every modern programming language, with an emphasis on Microsoft technologies, JAVA, HTML, JavaScript and SQL.</p>
                    <p>Rocher worked as a vc++ developer in a smart card chip company as an engineer.He also worked as an engineer in the Internet software company of 500 people.Later, he joined the cross-border e-commerce in the field of software development.And then came to the Venture Company to work until now.</p>
                    <p>Rocher’s passion for technology and innate problem solving abilities are the hallmark of everything he does. His wide-ranging expertise coupled with an unyielding drive to succeed gives him a unique advantage when helping startups exceed their potential.</p>
                    <p>Primary Specialties: Front-end Development (HTML, JavaScript, Bootstrap, jQuery,TypeScript), Web Application Development ( C#, ASP.NET, JAVA), Database (MS-SQL, mySQL) and a whole lot of other technologies.</p>
                </div>
                <div class="five columns">
                    <ul id="skill">
                        <li>
                            <span class="bar graphic-design"></span>
                            <h5>HTML5, CSS</h5>
                        </li>
                        <li>
                            <span class="bar graphic-design"></span>
                            <h5>.NET, C#, JAVA</h5>
                        </li>
                        <li>
                            <span class="bar graphic-design"></span>
                            <h5>MSSQL, MYSQL,POSTGRESQL</h5>
                        </li>
                        <li>
                            <span class="bar graphic-design"></span>
                            <h5>jQuery, TypeScript, Bootstrap</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <a id="resume-nav">&nbsp;</a>
        <section class="row divider text-center">
            <div class="row">
                <div class="twelve columns snapshot-timeline">
                    <div class="three columns">
                        <i class="icon-circle timeline-circle"></i>
                    </div>
                    <div class="three columns">
                        <i class="icon-circle timeline-circle"></i>
                    </div>
                    <div class="three columns">
                        <i class="icon-circle timeline-circle"></i>
                    </div>
                    <div class="three columns">
                        <i class="icon-circle timeline-circle"></i>
                    </div>
                </div>
            </div>
            <div class="three columns text-center snapshot">
                <h3>2013</h3>
                <h4>Smartcard</h4>
                <h4><i class="icon-briefcase"></i></h4>
            </div>
            <div class="three columns text-center snapshot">
                <h3>2014</h3>
                <h4>互联网</h4>
                <h4><i class="icon-briefcase"></i></h4>
            </div>
            <div class="three columns text-center snapshot">
                <h3>2015</h3>
                <h4>moximoxi.com</h4>
                <h4><i class="icon-briefcase"></i></h4>
            </div>
            <div class="three columns text-center snapshot">
                <h3>2016</h3>
                <h4>51Mydao.com</h4>
                <h4><i class="icon-briefcase"></i></h4>
            </div>
        </section>
        <section class="row page" id="resume">
            <div class="twelve columns">
                <div class="button right">
                    <a target="_blank" href="https://cn.linkedin.com/in/kong-rocher-74a24183">
                        <span class="left">View LinkedIn Profile</span>
                    </a>
                </div>
                <h5 class="page-heading">CAREER</h5>
                <hr />
            </div>
            <div class="twelve columns timeline-section">
                <div class="twelve columns resume-entry">
                    <div class="nine columns">
                        <span class="resume-title"><i class="icon-user">&nbsp;</i>Senior Engineer</span>
                        <br />
                        <span class="resume-company"><i class="icon-building">&nbsp;</i>51mydao.com</span>
                    </div>
                    <div class="three columns text-right">2016 - Present</div>
                </div>
                <div class="twelve columns resume-entry">
                    <div class="nine columns right">
                        <span class="resume-title"><i class="icon-user">&nbsp;</i>Senior Engineer</span>
                        <br />
                        <span class="resume-company"><i class="icon-building">&nbsp;</i>Moximoxi.Com</span>
                    </div>
                    <div class="three columns text-right">2015 - 2016</div>
                </div>
                <div class="twelve columns resume-entry">
                    <div class="nine columns right">
                        <span class="resume-title"><i class="icon-user">&nbsp;</i>Software Engineer</span>
                        <br />
                        <span class="resume-company"><i class="icon-building">&nbsp;</i>Shanghai Internet Software Ltd</span>
                    </div>
                    <div class="three columns text-right">2014- 2015</div>
                </div>
              
                <div class="twelve columns resume-entry">
                    <div class="nine columns right">
                        <span class="resume-title"><i class="icon-user">&nbsp;</i>Software Engineer</span>
                        <br />
                        <span class="resume-company"><i class="icon-building">&nbsp;</i>Pujiang smart card system Co., Ltd.</span>
                    </div>
                    <div class="three columns text-right">2013 - 2014</div>
                </div>

                <div class="twelve columns resume-entry">
                    <div class="nine columns right">
                        <span class="resume-title"><i class="icon-user">&nbsp;</i>Software Engineer</span>
                        <br />
                        <span class="resume-company"><i class="icon-building">&nbsp;</i>Study at Sanjiang University</span>
                    </div>
                    <div class="three columns text-right">2009 - 2013</div>
                </div>
                <hr />
            </div>

        </section>
        <a id="projects-nav">&nbsp;</a>
        <section class="row page" id="featured-project">
            <div class="twelve columns">
                <div class="button right">
                    <a target="_blank" href="http://buyer.51mydao.com/">
                        <span class="left">View Website</span>
                    </a>
                </div>
                <h5 class="page-heading">CURRENT PROJECT - 51Mydao.com</h5>
                <hr />
            </div>
            <div class="twelve columns">
                <div id="featured">
                    <img alt="featured image" src="../images/Mydao.jpg" />
                </div>
            </div>

        </section>
        <a id="contact-nav">&nbsp;</a>
        <section class="row page" id="contact">
            <div class="twelve columns">
                <h5 class="page-heading">CONTACT</h5>
                <hr />
            </div>
            <div class="twelve columns">
                <div class="five columns" id="contact-left">
                    <div id="contact-icon">
                        <i class="icon-bullhorn"></i>
                    </div>
                    <h4>Feel free to reach out if you have anything you'd like to discuss with me!</h4>
                </div>
                <div class="two columns"></div>
                <div class="five columns" id="contact-right">
                    <br />
                    <ul>
                        <li>
                            <span class="label contact-detail"><i class="icon-user">&nbsp;</i>QQ:897734923</span>
                        </li>
                        <li>
                            <span class="label contact-detail"><i class="icon-envelope">&nbsp;</i>rocher@126.com</span>
                        </li>
                        <li>
                            <span class="label contact-detail"><i class="icon-map-marker">&nbsp;</i>Shanghai</span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
       
    </div>
</div>
<div style="position:absolute;filter:alpha(opacity=0);opacity:0.001;z-index:10;">

</div>
@section js{
    <script src="~/js/foundation.min.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/jquery.tooltipster.js"></script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-3475009-14', 'brianhama.com');
        ga('send', 'pageview');
    </script>
}



