@{
    Layout = null;
    ViewBag.Title = "登录";
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="//cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="~/js/plugins/select2/select2.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/css/skins/skin-blue.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>I4TA</b>平台运维管理
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            @if (ViewBag.Error != null)
            {
                <p class="alert-danger">@ViewBag.Error</p>
            }

            <form action="@Url.Action("LogOn","Account")" method="post">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="UserName" placeholder="UserName">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" name="Password" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
                    </div><!-- /.col -->
                </div>
            </form>
        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
    <script src="~/js/plugins/jQuery/jQuery-2.2.0.min.js"></script>
    <script src="~/js/bootstrap.js"></script>

</body>
</html>
