<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <database>
    <provider name="sqlServer4.0" />
    <dataSource name="DataBase" connectionString="Data Source=qds226081219.my3w.com;database=qds226081219_db;uid=qds226081219;pwd=."/>
  </database>
  <!--<alias>
    <typeAlias alias="Rel_Category_Attribute" type="MaiDao.TradingCenter.Entity.Rel_Category_Attribute,MaiDao.TradingCenter.Entity" />
    <typeAlias alias="Rel_Member_Enterprise" type="MaiDao.TradingCenter.Entity.Rel_Member_Enterprise,MaiDao.TradingCenter.Entity" />
    <typeAlias alias="V_Enterprise_Member" type="MaiDao.TradingCenter.Entity.Views.V_Enterprise_Member,MaiDao.TradingCenter.Entity" />
  </alias>-->
  <sqlMaps>
    <sqlMap resource="E:\项目\GitHub\RShop\PublicConfig\SqlMaps\T_Administrator.xml"></sqlMap>
    <sqlMap resource="E:\项目\GitHub\RShop\PublicConfig\SqlMaps\T_ProductCategory.xml"></sqlMap>
    <sqlMap resource="E:\项目\GitHub\RShop\PublicConfig\SqlMaps\T_Brand.xml"></sqlMap>
    <sqlMap resource="E:\项目\GitHub\RShop\PublicConfig\SqlMaps\T_Product.xml"></sqlMap>
    <sqlMap resource="E:\项目\GitHub\RShop\PublicConfig\SqlMaps\T_ProductImage.xml"></sqlMap>
    <sqlMap resource="E:\项目\GitHub\RShop\PublicConfig\SqlMaps\T_ProductAttribute.xml"></sqlMap>
    <sqlMap resource="E:\项目\GitHub\RShop\PublicConfig\SqlMaps\T_ProductAttributeOption.xml"></sqlMap>
    <sqlMap resource="E:\项目\GitHub\RShop\PublicConfig\SqlMaps\T_ProductAttributeValue.xml"></sqlMap>

    <sqlMap resource="E:\项目\GitHub\RShop\PublicConfig\SqlMaps\T_Member.xml"></sqlMap>
    <sqlMap resource="E:\项目\GitHub\RShop\PublicConfig\SqlMaps\T_Enterprise.xml"></sqlMap>
    <sqlMap resource="E:\项目\GitHub\RShop\PublicConfig\SqlMaps\T_Score.xml"></sqlMap>
    <sqlMap resource="E:\项目\GitHub\RShop\PublicConfig\SqlMaps\T_ScoreLog.xml"></sqlMap>
    <sqlMap resource="E:\项目\GitHub\RShop\PublicConfig\SqlMaps\T_ConsultingHistory.xml"></sqlMap>
    <sqlMap resource="E:\项目\GitHub\RShop\PublicConfig\SqlMaps\T_ExclusiveConsultant.xml"></sqlMap>
    <sqlMap resource="E:\项目\GitHub\RShop\PublicConfig\SqlMaps\T_ChangeConsultantApply.xml"></sqlMap>
    <sqlMap resource="E:\项目\GitHub\RShop\PublicConfig\SqlMaps\T_ConsultantScore.xml"></sqlMap>
    <sqlMap resource="E:\项目\GitHub\RShop\PublicConfig\SqlMaps\T_Banner.xml"></sqlMap>
  </sqlMaps>
</sqlMapConfig>