<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <database>
    <provider name="sqlServer4.0" />
    <dataSource name="DataBase" connectionString="Data Source=server.51mydao.com;database=MaiDaoDB;uid=sa;pwd=Mydao.com"/>
  </database>

  <sqlMaps>
    <sqlMap resource="E:\MaiDao\Development\PublicConfig\SqlMaps\T_ProductCategory.xml"></sqlMap>
    <sqlMap resource="E:\MaiDao\Development\PublicConfig\SqlMaps\T_Brand.xml"></sqlMap>
  </sqlMaps>
</sqlMapConfig>